*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
label,
span,
* {
  font-family: 'Roboto', sans-serif;
}

.form {
  border: 1px solid rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
  width: 100%;
  max-width: 900px;
  margin: 0 1em;
}

@media (max-width: 700px) {
  .slogan {
    display: none !important;
  }
  .form {
    grid-template-columns: 1fr;
  }
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
  font-weight: 300;
}

form {
  padding: 1em;
}

form > * {
  width: 100%;
}

form > * + * {
  margin-top: 3em;
}

form > div {
  display: flex;
}

label {
  width: 100%;
  position: relative;
}

label + label {
  margin-left: 1em;
}

.placeholder {
  position: absolute;
  font-size: 0.9rem;
  color: gray;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  padding: 0 0.4em;
  z-index: 1;
  transition: transform 0.1s, font-size 0.1s;
  background-color: white;
  height: 3px;
  display: flex;
  align-items: center;
  user-select: none;
}

.error {
  position: absolute;
  left: 10px;
  bottom: -55px;
  font-size: 0.75rem;
  color: tomato;
  opacity: 1;
  transition: opacity 0.2s;
  height: 50px;
}

.error > p {
  margin: 0;
  display: inline;
  margin-left: 0.5em;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

input {
  width: 100%;
  padding: 0.8em 1.2em;
  border-radius: 5px;
  border: 1px solid rgba(100, 100, 100, 0.2);
  transition: outline 0.3s;
  outline-color: transparent;
  background-color: transparent;
}

input:focus {
  outline-color: seagreen;
}

input:focus ~ .placeholder,
.written {
  transform: translateY(-20px);
  z-index: 2;
  font-size: 0.8rem;
}

input:valid {
  color: seagreen;
}

input:invalid {
  outline-color: tomato;
}

input[type='submit'] {
  background-color: seagreen;
  color: white;
  cursor: pointer;
  max-width: 150px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: box-shadow 0.2s;
}

input[type='submit']:hover {
  box-shadow: 0 0 5px seagreen;
}
